<title>{{title}}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="images/favicon.jpg" type="image/x-icon">
<link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.css"/>
<link type="text/css" rel="stylesheet" href="/stylesheets/style.css"/>
<script src="//use.edgefonts.net/lobster-two.js"></script>
<style>
    p.headingFont{
    font-family: lobster-two, cursive;
    font-size: 40px;
    }
</style>